@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.farmer-card {
    display: flex;
    align-items: center;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.distance{
    text-align: right;
}

.farm_name{
    font-weight: bolder;    
    font-size: 1.2rem;
    color: #164550;
}

.nom_prenom_agri{
    color: #0d0d0d;
}

.farmer_img{
    width: auto;
    background-color: white ;
    border-radius: 10px;
}

.card_content{
    padding-top: 0 !important;
}

/*CATEGORY PART*/
ion-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.full-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.categories-card {
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    height: 90% ;
    flex: 1;
}

.category-container {
    flex-basis: 50%;
}

.category-content {
    padding: 0% !important;
    height: 80% 
}

.category-title {
    height: 100% !important;
    font-size: 0.8rem !important;
}
