@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body.dark-mode{
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
}

.farmer-card {
    display: flex;
    align-items: center;
    width: 90%;
    background: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.distance{
    text-align: right;
    color: var(--ion-color-secondary-contrast);

}

.farm_name{
    font-weight: bolder;    
    font-size: 1.2rem;
    color: var(--ion-color-secondary-contrast);
    background-color: var(--ion-color-secondary);
}



.nom_prenom_agri{
    color: var(--ion-color-secondary-contrast);
}

.farmer_img{
    width: auto;
    background-color: var(--ion-color-secondary) ;
    border-radius: 10px;
}

.card_content{
    padding-top: 0 !important;
    background-color: var(--ion-color-secondary) ;

}



.farmer-info {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--ion-color-secondary) !important;
}




/*CATEGORY PART*/
ion-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.full-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.categories-card {
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}

.category-container {
    flex-basis: 50%;
}

.category-content {
    padding: 0% !important;
    height: 80% 
}

.category-title {
    height: 100% !important;
    font-size: 0.8rem !important;
}


