/* NewsFarmerPage.css */
ion-card {
    width: 90%; /* La carte prend 90% de la largeur de son conteneur */
    margin: 16px auto; /* Centrage et espace autour des cartes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    border-radius: 8px; /* Bords arrondis */
    overflow: hidden; /* Empêche le débordement du contenu */
}

ion-card img {
    width: 100%; /* L'image prend toute la largeur disponible */
    height: auto; /* Hauteur ajustée automatiquement */
    object-fit: cover; /* Pour couvrir l'espace disponible sans perdre les proportions */
    max-height: 200px; /* Définissez une hauteur maximale pour l'image */
}

ion-card-header {
    padding: 16px;
    background-color: #fff; /* Fond blanc pour le titre */
}

ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #164550;
}

ion-card-content {
    padding: 16px !important;
    background-color: #fff; /* Fond blanc pour le contenu */
    border-bottom-left-radius: 8px; /* Arrondir les coins inférieurs du contenu */
    border-bottom-right-radius: 8px;
    text-align: justify; /* Justifie le texte de la description */
    line-height: 1.5; /* Espacement des lignes pour une meilleure lisibilité */
}

.my-custom-class .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; /* S'assurer que le contenu du modal occupe toute la largeur */
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); /* Fond translucide */
}

.my-custom-class .modal-image-container {
    display: flex; /* Utiliser flexbox pour centrer l'image */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Hauteur complète du modal */
    width: 100%; /* Largeur complète du modal */
}

.my-custom-class .zoomed-in-image {
    max-width: 90%; /* Maximum de 90% de la largeur du modal */
    max-height: 80%; /* Maximum de 80% de la hauteur du modal */
    object-fit: contain; /* S'assure que l'image s'adapte tout en montrant tout son contenu */
    margin: auto; /* Centrage automatique si l'image est plus petite que le conteneur */
}

.my-custom-class .close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Supprimez le style du curseur pour pointer sur le modal-content si vous ne souhaitez pas cette indication */
.my-custom-class .modal-content {
    cursor: default; /* ou supprimez cette règle si elle est déjà définie ailleurs */
}