ion-icon {
    color: #ffffff;
}


ion-tab-button:active ion-icon,
ion-tab-button.tab-selected ion-icon {
    color: #03a852;
}
ion-searchbar.searchBar {
    --border-radius: 30px;
    --icon-color: transparent;
    
}



ion-icon {
    min-height: 15px;
}

.gabor45-logo {
    width: 20%;
    height: 20%;
    margin: 0 40%;

}

.login-input {
    text-align: justify;
    border: 1px solid #A7A7A7;
    border-radius: 5px;
    padding: 10px;
}



.custom-input ion-input {
    position: relative;
}
ion-button.btn-google {     
    --border-color : #000;
    --border-style: solid;
    --border-width: 1px;
    --background: #fff;
    --color: #000;
}

ion-col.input-col {
    margin-bottom: 10px;
}

.text-title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.btns-login {
    margin-left: 10px; /* Ajusta el margen izquierdo según tus necesidades */
  }


.input-pass ion-icon {
    width: 30px;
    float: right;   
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-top: 16px;
    margin-bottom: 16px;
}
@media (max-width: 425px) {
    .text-title {
      font-size: 20px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
    .btns-login {
        font-size: 10px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
    .icon-input {
        font-size: 15px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
  }
  
  /* Media query para pantallas más grandes (ajusta según tus necesidades) */
  @media (min-width: 768px) {
    .text-title {
      font-size: 40px; /* Tamaño de fuente más grande para pantallas más grandes */
    }
    .btns-login{
        font-size: 25px;
    }
    .icon-input {
        font-size: 20px;
    }
  }
#motOublie {
    font-size: 12px;
}

#line-login {
    height: 2px;
    background: gray;
    text-align: center;
    position: relative;
}

#line-login span {
    position: relative; 
    background-color: #fff;
    padding: 0 10px; 
    top: -11px; 
}
.text-btn {
    cursor: pointer;
}
.login-icon {
    font-size: 30px;
    color: #374856;
    
}
.search-icon {
    font-size: 20px;
    color: #374856;
    float: right;
    position: absolute;
    z-index: 1;
    right: 30px;    
    
}


.nav-icon {
    font-size: 30px;
    color: #374856;
}

.nav-line {
    display: inline-block;
    border-radius: 30px;
    color: #164550;
    padding: 1vh 1vh;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 1vh 0.5vh;
}
.custom-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.nav-line.active {
    background-color: #03A852; /* Color de fondo cuando está activo */
    color: #ffff;
  }


.nav-line:hover {
    background-color: #03A852; 
    color: #ffff;
}


.nav-text { /* Utiliza rem en lugar de px para el tamaño de fuente */
    white-space: nowrap; /* Evita el desbordamiento de texto */
    overflow: hidden;
    text-overflow: ellipsis; 
}