.editForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    padding: 5%;
}

label{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

input{
    border-color: black;
    border-radius: 5px;
}